#home-section {
	background-image: url('../img/home.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: $header-min-width;

	.fas {
		@include cst-checkbox($nav-border, $white);
	}

	.dark-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: $header-min-width;
		background-color: rgba(0, 0, 0, 0.7);
	}

	.home-inner {
		padding-top: 15rem;
	}

	.card-form {
		padding: 1rem;
		min-height: 20rem;
		opacity: 0.8;
		color: $white;

		input[type='text'],
		input[type='password'] {
			margin: 1rem 0;
		}

		input[type='submit'] {
			display: block;
			width: 100%;
			padding: 0.5rem 0;
		}
	}
}
